header
    background-image: url("../../public/img/banner1.jpg")
    background-size: cover contain
    background-position: center
    min-height: 100vh
    position: relative
    &:before
        content: ""
        z-index: -1
        position: absolute
        top: 0
        bottom: 0
        right: 0
        left: 0
        background: rgba(0,0,0,0.64)
        


.textheader
    font-family: Flaticon
    position: absolute
    z-index: 2
    color: white
    margin-top: 120px !important
    h1
        font-family: Flaticon
        font-size: 60px

.btnheader
    position: absolute
    z-index: 2
    margin-top: 390px !important  
    a:first-child
        color: black

.btnheader
    .rounded 
        border-radius: 2.25rem!important
.vague
    background-image: url("../../public/img/bottom_decoration_img.png")
    height: 10px
    width: 100%
    bottom: 0